---
import Footer from "@components/layout/Footer.astro";
import Navbar from "@components/layout/Navbar.astro";
import "@styles/global.scss";
type Robots = "index" | "follow" | "noindex" | "nofollow";

const site_name = "morganlabs";

type XCard = {
    card_type?: "summary" | "summary_large_image" | "app" | "player";
    creator?: `@${string}`;
};

type Author = {
    name: string;
    email?: `${string}@${string}.${string}`;
};

type Metadata = {
    title: string;
    description: string;
    author?: string | Author;
    image?: string;
    keywords?: string[];
    robots?: Robots[];
    url?: string;
    x?: XCard;
};

type Props = {
    active_route: `/${string}`;
    metadata: Metadata;
};

const {
    active_route,
    metadata: {
        title = "No Title",
        description,
        author: m_author = {
            name: "Morgan Jones",
            email: "mjones@morganlabs.dev",
        },
        image,
        keywords = [],
        robots = ["index", "follow"],
        url = Astro.url.pathname,
        x = {
            card_type: "summary",
            creator: "@morganlabs_",
        },
    },
} = Astro.props;

const author =
    typeof m_author === "string"
        ? m_author
        : m_author.email
          ? `${m_author.name} <${m_author.email}>`
          : m_author.name;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title} | morganlabs</title>
        <meta name="description" content={description} />
        <meta name="author" content={author} />
        <meta name="keywords" content={keywords.join(",")} />
        <meta name="robots" content={robots.join(",")} />

        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:site_name" content={site_name} />
        <meta name="og:url" content={url} />
        <meta name="og:image" content={image} />

        <meta name="twitter:site" content="@morganlabs_" />
        <meta name="twitter:creator" content={x.creator} />
        <meta name="twitter:card" content={x.card_type} />
        <meta name="twitter:url" content={url} />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={image} />

        <link rel="me" href="https://mastodon.social/@morganlabs" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- Favicon -->
        <!-- Why cant we all just support SVG icons holy shit 😭 -->
        <!-- realfavicongenerator.net is a life saver for this -->
        <link rel="icon" type="image/svg+xml" href="/fav/favicon.svg" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/fav/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/fav/favicon-16x16.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/fav/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link
            rel="mask-icon"
            href="/fav/safari-pinned-tab.svg"
            color="#1c1225"
        />
        <link rel="shortcut icon" href="/fav/favicon.ico" />
        <meta name="msapplication-config" content="/browserconfig.xml" />

        <meta name="theme-color" content="#1c1225" />
        <meta name="apple-mobile-web-app-title" content="morganlabs" />
        <meta name="application-name" content="morganlabs" />
        <meta name="msapplication-TileColor" content="#603cba" />
    </head>
    <body class="body">
        <Navbar {active_route} />
        <main class="content">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style lang="scss">
    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .content {
        font-family: $body-font;
        max-width: calc($content-width + 1rem);
        padding-inline: 1rem;
        margin-inline: auto;
        height: 100%;
        flex: 1;
    }
</style>
